* {
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
    width: 100vw;
    background-image: url("https://media.istockphoto.com/id/1424234489/vector/modern-gradient-blend-background.jpg?s=612x612&w=0&k=20&c=UfqcH4ggRACL6TOoDpGyW9RY5dzQwXMQ6ulYJEu3Vas=");
    background-size: cover;
    background-position: center;
    opacity: .85;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 90vh;
    width: 80vw;
    border: 5px solid rgb(24, 28, 26);
    border-radius: 15px;
/* 
    display: flex;
    justify-items: center;
    align-items: center; */
}

.left{
    width: 65%;
    height: 100%;
    background-color: white;
    border-radius: 15px;
}
.b{
    display: flex;
    justify-items: center;
    align-items: center;
}
.right{
     display: flex;
    justify-items: center;
    align-items: center;
}